:root {
    --cor-verde-claro: #89ABA6;
    --cor-botao-verde-feio: #016C6C;
    --cor-azul-claro: #007B84;
    --cor-verde-escuro: #002324;

    --fonte-roboto: "Roboto", "sans-serif";
    --fonte-lilita-one: "Lilita One";
}