body {
    margin: 0;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

#informacoes {
    grid-row: span 2 / span 2;
}

#informacoes > #history_button {
    background-color: "green";
}

#calendario-area {
    background-color: azure;
    grid-column: span 2 / span 2;
}

#agendar-consulta {
    grid-column-start: 4;
    background-color: aqua;
}

#perfil {
    grid-column-start: 4;
}
        