@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 97vh;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}

#informacoes {
    background-color: #89ABA6;
    grid-area: 1 / 1 / 6 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacoes p {
    color: white;
}

#informacoes #history_button {
    background-color: green;
    color: white;
    justify-self: self-end;
}

#calendario-area {
    grid-area: 1 / 2 / 6 / 5;
    background-color: azure;
}

#agendar-consulta {
    grid-area: 1 / 5 / 3 / 6;
    background-color: #007B84;
    display: flex;
    align-items: center;
    padding: 10px;
}

#agendar-consulta > button {
    background-color: #002324;
    color: white;
    font-family: "Lilita One", "sans-serif";
    font-size: 2.5em;
    border: none;
    justify-self: self-end;
}

#perfil {
    grid-area: 3 / 5 / 5 / 6;
}
        