#container-adm-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

#cadastrar-profissional {
    background-color: #11BDAF;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 33%;
    align-items: center;
    justify-content: space-between;
}

#cadastrar-profissional h2 {
    font-family: "Passion One";
    font-size: 2.4em;
}

#plataform-name{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Passion One";
    font-weight: 500;
    font-size: 4rem;
    color: #001E31;
    text-align: center;
    text-transform: uppercase;
}

#buscar-usuarios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 100vh;
    width: 33%;
    padding: 2em;
}

#title-buscar-usuarios {
    font-size: 2.2em;
    font-family: "Passion One";
    text-align: center;
}

#botao-cadastrar-adm {
    padding: 16px;
    margin: 8px;
    font-size: 1.7em;
    width: 200px;
    border-radius: 75px;
    border: none;
    background-color: #003C39;
    font-family: "Passion One";
    transition: background-color 0.5s ease-in-out;
}

#botao-cadastrar-adm:hover {
    background-color: #001E31;
}

#button-actions-adm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#action-button-adm {
    background-color: #08BFAC;
    border: none;
    padding: 10px;
    font-family: "Passion One";
    text-transform: uppercase;
    font-size: 1.5em;
    border-radius: 75px;
    transition: background-color 0.5s ease-in-out;
}

#action-button-adm:hover {
    background-color: #003C39;
}

#button-confirm-edit {
    background-color: #003C39;
    padding: 12px;
    font-family: "Passion One";
    font-size: 1.2em;
    border-radius: 75px;
}