#background-admin {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Passion One";
    background-image:  linear-gradient(#EEFEFF, #FF8D50);
}

#box-form-admin {
    background-color: white;
    border-radius: 20px;
}

#form-admin {
    display: flex;
    flex-direction: column;
    gap: 10px;
}